<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-indigo-700 dark:[&>p>strong]:text-indigo-300/90 [&>p>strong]:font-medium [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Johan Andres, me gusta salir con mis amigos a jugar futbol,
      basket, tambien me gustan los video juegos y la tecnologia.
    </p>

    <p>
      Empecé en la programación a mis 18 años, vi un video de
      <strong>
        Dalto en donde enseñaba JavaScript, desde ese momento empecé a sumergir
        en la programación.</strong
      >
    </p>

    <p>
      Terminé mis estudios como
      <strong> Desarrollador Web FullStack, me encanta el FrontEnd,</strong>
      poder construir y diseñar interfaces de usuario visualmente atractivas para
      sitios o aplicaciones web.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/Me.jpg"
    alt="Foto de perfil de Johan Andrés"
    class="order-1 object-cover w-64 h-full p-1 bg-gray-400 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
