---
const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-lg p-1 shadow shadow-slate-500 mt-20 bg-black/5 dark:bg-black/20 dark:shadow-indigo-500/40 backdrop-blur-lg container flex justify-center"
>
  <div
    class="w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/70"
      >© {currentYear}
      <a
        href="https://www.linkedin.com/in/johanandressierracorredor/"
        class="hover:underline">JohanSierra</a
      >
    </span>
    <p class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/70">
      Casi todos los derechos reservados, basado en la idea de <a
        href="http://midu.dev">midu</a
      >
    </p>
    <p class="text-sm font-medium dark:text-white/80 hover:text-indigo-700 dark:hover:text-indigo-300/90">
      <a id="contacto" href="mailto:miduga@gmail.com" class="hover:underline"
        >Contacto</a
      >
    </p>
  </div>
</footer>
