---
const { id, class: className } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={` ${className} w-full mx-auto container py-10 lg:max-w-4xl md:max-w-2xl`}
>
  <slot />
</section>
